# ─── Site ───────────────────────────────────────────────────────────────
NEXT_PUBLIC_SITE_URL=https://waleedkhan.dev

# ─── EmailJS (contact form) ─ https://dashboard.emailjs.com/ ─────────────
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_7qfyhcw
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_a7e86ac
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=OArhGmdzE_PYqpovb
